<div class="row">
	<div class="col-md-12 product_controls">
		<button class="simple">Simple Editor</button>
		<button class="advanced">Advanced Editor</button>
	</div>
</div>

<div class="row">
	<div class="col-md-12 product_controls">
		<button class="add" ng-click="openProductEditor('new')">Add Product</button>
	</div>
</div>

<div data-ng-repeat="product in products" class="product">
	{{ product.name }}
	{{ product.price }}
	{{ product.display_price }}
	{{ product.description }}
	{{ product.date_available }}
</div>

<div product-editor product="selectedProduct" ng-show="selectedProduct"  product-is-new="{{ productIsNew }}" class="product_editor" query="queryProducts" close="closeProductEditor">
</div>

<div style="display:none">
	<form data-ng-submit="addNewProduct()">
		Name: <input data-ng-model="newProduct.name"></br>
		Description: <input data-ng-model="newProduct.description"></br>
		Price: <input data-ng-model="newProduct.price"></br></br>

		Product Preview</br>
		{{newProduct.name}}</br>
		{{newProduct.description}}</br>
		{{newProduct.price}}</br>

		<input type="submit">
	</form>
</div>