@dark_gray: hsl(0%, 0%, 19%);

.strip_padding {
	padding-left: 0;
	padding-right: 0;
}

.title_font {
	@carme: 'Carme', sans-serif;
	font-size: 24px;
}

.dark_gray_text {
	background: @dark_gray;
	color:#fff;
}


body, html {
	height: 100%;
	background: #F1EDEA;
}

.app_container {
	height: 100%;

	> div {
		height: 100%;
	}

	.container  {
		height: 100%;


		> .row.body {

			height: 100%;

			> div:first-child {

				height: 100%;

				> div {
					height: 100%;
				}

			}
		}
	}
}

.full_height {
	height: 100%;
}

.container.full {
	width:100%;	
}

.sidebar_container {
	display: none;
}

@media (min-width: 992px) {
	.main_container {
		margin-top: 74px;
	}

	.header_container {
		position: fixed;
		width: 100%;
		z-index: 5;
	}


	.sidebar_container {
		position: fixed;
		z-index: 5;
		display: block;
	}
}

#sidebar {
	height: 100%;
	margin-top: 74px;

	.dark_gray_text;

	ul {
		float: left;
		list-style: none;
		padding: 0;
		margin: 0;
		width: 100%;
		li {
			padding: 20px;
			list-style: none;
			border-bottom: 1px solid lighten(@dark_gray, 10%);
			a {
				color:#fff;
			}
		}
	}
}

#search {
	background: #fff;
	padding: 20px;
	.title_font;
	color: @dark_gray;
}

.logo {
	padding: 20px;
	color:#FFF;
	background: #F05437;
	.title_font
}

.product {
	background: #fff;
	padding: 20px;
	margin-top: 20px;
}